<div class="row">
  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Servicios</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
               Id
              </th>

              <th>
                Nombre
              </th>

            </thead>
            <tbody>
              <tr *ngFor="let s of servicios | paginate: { itemsPerPage: tamano, currentPage: p, totalItems:total }">

                <td>
                  {{s.eid}}
                </td>
                <td>
                  {{s.nombre}}
                </td>
                <td>  <button (click)="buscarServicio(s)" class="btn btn-primary btn-round" > Detalle </button></td>


              </tr>

              <td class="text-right">




            </tbody>
          </table>
          <pagination-controls previousLabel="Anterior"
          nextLabel="Siguiente" (pageChange)="p=$event; listarServicios();"  ></pagination-controls>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-6">
    <app-formulario-servicios (propagar)="listarServicios()"  [servirecibo]="servi"></app-formulario-servicios>
  </div>
</div>
