<div class="card card-user">
 
  <div class="card-header">
    <h2 class="card-title">Guardar Paciente</h2>
  </div>
  <div class="card-body">

   <form  [formGroup]="formCamilo"  (ngSubmit)="onSubmit()" >

      <div class="row">
        <div class="col-md-8 px-8">

         <div class="form-group" >
   


          <h1>{{pacirecibo?.nombre}}</h1>

          <label>id</label>

          <input type="text"  class="form-control" disabled="disabled" placeholder="Id" formControlName="id"  value="id" >


  <label> Nombres </label>
          <input type="text" class="form-control"  placeholder="Nombres"  formControlName="nombre" required="required"  value="nombre"  >

     <label >Apellidos</label>
     <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellidos" value="apellidos">
  <label >Cedula </label>

       <input type="text" class="form-control"    placeholder="Cedula" formControlName="cedula"  value="cedula" >


            <label > Direccion</label>
            <input type="text" class="form-control" placeholder="Direccion" formControlName="direccion" value="direccion">
            <label >Telefono</label>
            <input type="text" class="form-control" placeholder="Telefono" formControlName="telefono" value="telefono">
            <label >Entidad</label>
           <input type="text" class="form-control" placeholder="Entidad"  formControlName="entidad" valude="entidad">
      

        </div>

      <div class="row">
        <div class="update ml-auto mr-auto">
        <form ><button (click)="nuevoPaciente()" class="btn btn-primary btn-round">Nuevo</button></form>
      </div>


      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary btn-round">Editar y Guardar</button></div>

        </div>







