<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Pacientes</h4>
        <!--<input #inputstring (keyup)="capturarString(inputstring.value)" type="text" class="form-control" placeholder="Entidad"/>-->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">

              <th>
                Cedula
              </th>
              <th>
               Nombres y Apellidos

              </th>

               <th>
                Entidad
              </th>
            </thead>
            <tbody>
              <tr  *ngFor="let pa of paciente ">

                <td >{{pa.Cedula}</td>
                <td >{{pa.nombre}} {{pa.apellidos}}</td>
                <td >{{pa.entidad}}</td>

