<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Pacientes</h4>
        <!--<input #inputstring (keyup)="capturarString(inputstring.value)" type="text" class="form-control" placeholder="Entidad"/>-->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
         
            
            
              
              <tr *ngFor=" let paciente of pacientes "></tr>
              <tr *ngFor="let servicio of servicio"></tr>
              <tr *ngFor="let cita of citas"></tr>
              <th>id</th>

              <th>
                Cedula
              </th>
              <th>
               Nombres y Apellidos

              </th>

               <th>
                Entidad
              </th>

              <th>
                Estado
 
               </th>
 
                <th>
                 Servicio
               </th>

               <th>
                Fecha
              </th>
    
            <tbody>
            
              <td >{{idPaciente}}</td>
                <td >{{paciente?.paciente?.cedula}}</td>
                <td >{{paciente?.paciente?.nombre}} {{paciente?.paciente?.apellidos}}</td>
                <td >{{paciente?.paciente?.entidad}}</td>
                <td >{{cita.id_cita}}</td>
                
                
                          </tbody>
                          </table>
                        </div></div></div></div>
              
              
                
               
                <app-formulario-citas  [pacienr]="idPaciente" [citarecibo]="cita"> </app-formulario-citas>
               
               
                  