<div class="row">

  <div class="col-md-12">

    <div class="card">

      <div class="card-header">
        <h4 class="card-title">Puntos WiFi</h4>

        <!-- BUSCADOR
        <div class="form-group" style="max-width:300px;">
          <input type="text" class="form-control" placeholder="Buscar punto WiFi..." [(ngModel)]="searchText">
        </div> -->

        <p class="card-category">
          Mostrando {{filteredWifiPoints.length}} de {{wifiPoints.length}} puntos
        </p>

      </div>

      <div class="card-body">

        <div class="table-responsive">

          <table class="table">

            <thead class="text-primary">
              <tr>
                <th>Nombre</th>
                <th>Latitud</th>
                <th>Longitud</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let wifi of filteredWifiPoints | slice:0:20">

                <td>
                  {{wifi.id}}
                </td>

                <td>
                  {{wifi.latitud}}
                </td>

                <td>
                  {{wifi.longitud}}
                </td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

    </div>

  </div>

</div>