


<div class="card card-user">
  <div class="card-header">
    <h2 class="card-title">Guardar Citas</h2>
  </div>
 
 
  
  <div class="card-body">
  
    <form [formGroup]="formCitas"   (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12 px-12">
          <div class="form-group">
            <label >id</label>

           <input type="text" class="form-control" formControlName="id" disabled="disabled" placeholder="id" value="id">
        
         
           <label>Servicio</label>
          <select [compareWith]="comparaServicio" class="form-control"  class="custom-select mb-3"  formControlName="servicio">
            <option value="servicio" >Escoge un Servicio</option>
            <option *ngFor="let servicio of servicios" [ngValue]="servicio">
              {{ servicio?.nombre }}
            </option>
          </select>  
         
            <!-- <label > id</label>
              <input type="text"  class="form-control" [placeholder]="pacienr" formControlName="pacienr" id="pacienr" nommbre="pacienr"> -->
          
           <!-- <label for="Servicio" >Servicios</label>
            <select type="text"  class="form-control"  placeholder="servicio" formControlName="servicio"  value="servicio" >
              <option *ngFor="let s of servicio" [ngvalue]="servicio" >{{servi.nombre}}</option>
            </select>-->
           
            <label>estado</label>

          <input type="text"  class="form-control"  placeholder="estado" formControlName="estado"  value="estado" >


       <label> fecha </label>
          <input type="date" class="form-control"  placeholder="fecha"  formControlName="fecha" required pattern="\d{4}-\d{2}-\d{2}"  value="dateControl" asp-format="{yyyy-MM-dd}"  >
       
        </div>
        </div>
        </div>
     
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round" >Guardar</button>
      </div>
       
    </div>
    </form>
  </div>
       


     