<div class="row">
  <div class="col-md-12">

    <div class="card">

      <div class="card-header">
        Google Maps
      </div>

      <div class="card-body">

        <div class="row mb-3">
          <div class="col-md-4">

            <select class="form-control" [(ngModel)]="selectedAlcaldia" (change)="filterByAlcaldia()">

              <option value="">Todas las alcaldías</option>

              <option *ngFor="let a of alcaldias" [value]="a">
                {{a}}
              </option>

            </select>

          </div>
        </div>

        <div #mapContainer class="map"></div>

      </div>

    </div>

  </div>
</div>