<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Pacientes</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Cedula
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Apellido
                </th>
                <th>
                  Direccion
                </th>
                <th>Telefono</th>
                <th>Entidad</th>
              </thead>
              <tbody>
                <tr *ngFor="let p of pacientes">
                  <td>{{p.cedula}}</td>
                  <td>{{p.nombre}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
             
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  