<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Pacientes</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">

                <th>
                  Cedula
                </th>
                <th>
                 Nombres y Apellidos

                </th>

                 <th>
                  Entidad
                </th>
              </thead>
              <tbody>
                <tr  *ngFor="let pa of paciente | paginate: {itemsPerPage: tamano,currentPage:p,totalItems:total}">

                  <td >{{pa.cedula}}</td>
                  <td>{{pa.nombre}} {{pa.apellidos}}</td>

                  <td>{{pa.entidad}}</td>

                    <td><button (click)="buscarIdPaciente(pa.id)"  class="btn btn-primary btn-round"  >Detalle</button>


                    </td>
                </tr>


                <td class="text-right">
              </tbody>

            </table>
            <pagination-controls previousLabel="Anterior"
            nextLabel="Siguiente" (pageChange)="p=$event; listarPacientes();"></pagination-controls>
          </div>
        </div>
           </div>
    </div>
    <div class="col-md-6">
      <app-formulario-pacientes (propagar)="listarPacientes()"  ></app-formulario-pacientes>
        </div>
      </div>


